.bg_black {
  display: flex;
  font-family: "Anonymous Pro", monospace;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.verifContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #003580;
  border-radius: 20px;
  color: white;
  margin: 10px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
