/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* GLOBAL STYLES */
body {
  background-image: url("../../../images/IMG_20190526_191619.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_black {
  display: flex;
  font-family: "Anonymous Pro", monospace;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.verifContainer {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white_btn,
.blue_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #003580;
  border-radius: 20px;
  color: white;
  margin: 10px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
